body {
    margin: 0;
    height: 2000px;
}

section {
    height: 100vh;
    background: url(map_main.jpg) fixed;
}

.black_filter{
    background-color:rgba(0, 0, 0, 0.5); /*살짝 투명한 검정으로 배경색*/
    width:100%;
    height:100vh;
    position: absolute; /*다른 요소들 위로 겹쳐질 수 있게함*/
}

.black_filter1{
    background-color:rgba(0, 0, 0, 0.03); /*살짝 투명한 검정으로 배경색*/
    width:100%;
    height:1700px;
    position: absolute; /*다른 요소들 위로 겹쳐질 수 있게함*/
}



.main_txt{
    font-size: 5em;
    width: 1200px;  /*글자 가로폭조정*/
    color: white;
    font-family: sans-serif;
    position: absolute;
    text-shadow: 2px 2px 6px #000;
    top:200px; /* absolute한거 포지션 위치 정하기*/ 
    animation: slide 1s ease-out; /* 부드럽게 움직이기*/
}

@keyframes text_slide{
    from{
        left:0px;
        opacity: 0; /*선명도*/

    }

    to{
        left:300px;
        opacity: 1;
    }
}

@keyframes text_disappear {
    from{
        left:300px;
        opacity: 1;
    }
    to{
        left:0px;
        opacity: 0; /*선명도*/
    }
}

@keyframes img_slide{
    from{
        right:0px;
        opacity: 0; /*선명도*/

    }

    to{
        right:100px;
        opacity: 1;
    }
}

@keyframes img_disappear {
    from{
        right:100px;
        opacity: 1;
    }
    to{
        right:0px;
        opacity: 0; /*선명도*/
    }
}


/*이제부터 타이핑css*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family : 'Spoqa Han Sans Neo', sans-serif;
}

.wrap_typing{
    display: inline-flex;
    position:absolute;
    top:450px;
    left:330px;
    height: 10px;
    color: white;
    /* color: darkslateblue; */
    text-shadow: 2px 2px 6px #000;
    text-align: center;
}

.tedri{
    
    position:absolute;
    top:440px;
    left:410px;
    height: 10px;
    box-sizing:content-box;
    border : 5px #ffaf00 solid;
    width : 800px;
    height : 70px;
    margin-left: 80px;

}

.material-icons{
    font-size: 3.5em;
}

.lg-text{
    font-size: 2.5em;
    font-weight: bold;
}

/* .sm-text{
    font-size: 1.5rem;
} */

em{
    color: #ffaf00;
    font-style: normal;
}

#dynamic{
    position: relative;
    display: inline-flex;
}

#dynamic::after{
    content:"";
    display: block;
    position: absolute;
    top:0;
    right: -10px;
    width:4px;
    height:40px;
    margin-top: 10px;
    background-color: white;
}

#dynamic.active::after{
    display: none;
}


.button_index {
    position:absolute;
    top: 445px;
    left: 1240px;
    height: 70px;
    width: 150px;
    border : 0px #ffaf00 solid;
    color: white;
    /* padding: 16px 32px; */
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    /* margin: 4px 2px; */
    cursor: pointer;
    background-color: #ffaf00;
    
    border-radius: 10px;
    margin-left: 940px;
    text-shadow: 2px 2px 6px #000;
  }
 
  
  .button_index:hover {
    background-color: rgba(255,176,0,0.8);
    color: white;
  }




.index2 {
    height: 950px;
}

.main_txt1{
    font-size: 60px;
    font-size:bold;
    width: 750px;  /*글자 가로폭조정*/
    color: black;
    font-family: sans-serif;
    position: absolute;
    top:1250px; /* absolute한거 포지션 위치 정하기*/
    animation: slide 1s ease-out; /* 부드럽게 움직이기*/
}


.main_txt2{
    font-size: 2em;
    width: 500px;  /*글자 가로폭조정*/
    color: black;
    font-family: sans-serif;
    position: absolute;
    top:1600px; /* absolute한거 포지션 위치 정하기*/
    animation: slide 1s ease-out; /* 부드럽게 움직이기*/
}

.photo{
    position: absolute;
    top: 1050px;
    right: 300px;
    width: 972px;
    height: 700px;
}

.index3 {
    height: 1700px;
}

.main_txt3{
    font-size: 3em;
    /* font-size:bold; */
    width: 750px;  /*글자 가로폭조정*/
    color: black;
    font-family: sans-serif;
    position: absolute;
    top:2150px; /* absolute한거 포지션 위치 정하기*/
    animation: slide 1s ease-out; /* 부드럽게 움직이기*/
    left:400px;
}

.photo1{
    position: absolute;
    top: 2450px;
    left: 500px;
    width: 10%;

}

.main_txt4_1{
    position: absolute;
    font-size: 35px;
    top: 2670px;
    left: 500px;
    width: 25%;
}   

.main_txt4{
    position: absolute;
    font-size: 25px;
    top: 2710px;
    left: 500px;
    width: 25%;
    color : rgb(107, 118, 132);
    
}

.photo2{
    position: absolute;
    top: 2450px;
    right: 590px;
    width: 10%;
}

.main_txt5_1{
    position: absolute;
    font-size: 35px;
    top: 2670px;
    right: 300px;
    width: 25%;
}   

.main_txt5{
    position: absolute;
    font-size: 25px;
    top: 2710px;
    right: 300px;
    width: 25%;
    color : rgb(107, 118, 132);
    
}


.photo3{
    position: absolute;
    top: 3000px;
    left: 500px;
    width: 10%;
}

.main_txt6_1{
    position: absolute;
    font-size: 35px;
    top: 3230px;
    left: 500px;
    width: 25%;
}   

.main_txt6{
    position: absolute;
    font-size: 25px;
    top: 3270px;
    left: 500px;
    width: 25%;
    color : rgb(107, 118, 132);
    
}


.photo4{
    position: absolute;
    top: 3000px;
    right: 590px;
    width: 10%; 
}

.main_txt7_1{
    position: absolute;
    font-size: 35px;
    top: 3230px;
    right: 300px;
    width: 25%;
}   

.main_txt7{
    position: absolute;
    font-size: 25px;
    top: 3270px;
    right: 300px;
    width: 25%;
    color : rgb(107, 118, 132);
    
}




.index4 {
    height: 950px;
}

.container{
    text-align: center;
    margin-top:50px;
}
.card-box{
    position: relative; /*얘 기준에 맞춰서 상대적으로 맞추는듯?*/
    border-radius: 16px;
    overflow: hidden; /*다른 부모의 높이에 넘어가는 걸 숨김*/
    display: inline-block;
    margin:50px;
    width: 100%;
    max-width: 280px;
    height: 360px;
    box-shadow: 20px 25px rgba(0,0,0,0.20);
    transition: 0.3s;
    /* background-color:rgba(255,176,0,0.2); */
}
 
.card-box:hover{
    transform:scale(0.95);
    
}
 
.img-gradient{
    position: absolute;  /*위치를 절대적으로*/
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
    z-index: 1;
}
 
.text-wrap{
    position: absolute;
    bottom:0;
    padding: 24px;
    /* text-align:left; */
    left: 80px;
    z-index: 2; /*z축으로 앞,뒤로 보내는 역할*/
}
 
.text-wrap h1{
    color: #fff;
    text-shadow: 2px 2px 6px #000;
    font-size: 24px;
    margin-bottom:8px;
    font-weight: bold;
}
 
/*.text-wrap p{
    color: #fff;
    text-shadow: 1px 1px 5px #000;
    font-size:18px;
    line-height:1.5;
    margin:0;
}*/
 
.play-btn{
    width:60px;
    height: 60px;
    position: absolute;
    right:24px;
    top: 24px;
    background-color: rgba(255,176,0);
    background: rgba(255,176,0,0.8) url(github.png) 
    no-repeat center;  /*..으로 바깥으로 나간다음 img폴더에 있는 파일로 드감*/
    background-size: 24px;
    border-radius: 50%;
    z-index: 2;
}
 
.play-btn:focus{
    outline:0;
}
 
.play-btn:hover{
    background-color: rgba(255,176,0,0.6);
    cursor:pointer;
    box-shadow: 0 2px 4px rgba(255,176,0,0.8);
}

.inmul{
    margin-top: 80px;
}

#inmul1{
    margin-top: 50px;
}

#inmul2{
    margin-top: 60px;
}

#inmul3{
    margin-top: 70px;
}

