/* .customoverlay{
    padding-left: 25px;
    position: relative;
    width: 95px;
    height: 30px;
    font-size: 5px;
    font-weight: bold;
    background-color: white;
    color: rgb(17, 135, 207);
    border: 1px solid rgb(17, 135, 207);
    border-radius: 30px;
    
}
.title{
    text-align: center;
    line-height: 26px;
    width: 35%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(17, 135, 207);
    color: white;
    border-radius: 30px;
    border: 2px solid rgb(17, 135, 207);
    position: absolute;
    white-space: nowrap;
}
.customoverlay:hover .title{
    background-color: white;
    color: rgb(17, 135, 207);
} */
/* .dong_{
    margin-bottom: 0px;
    padding: 8px;
    margin-left: 5px;
} */

#svg-area {
    position: relative;
  }

#tooltip {
    position: absolute;
    opacity: 0;
    width: 40px;
    height: 20px;
    line-height: 20px;
    transition: all 0.3s;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.btn-secondary{
    margin: 30px;
}

#facbtn{
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
}

.listname {
    /*width: calc(100% - 27px);
    display: flex;*/
    
    /* align-items: center; */
    padding-top: 15px;
    font-weight: 800;
    font-size: 14px;
    margin-right: 4px;
    padding-left: 6px;
}

.listprice {
    width: 100%;
    text-overflow: ellipsis; /*글자가 넓이를 넘을 경우 생략부호를 표시함*/
    white-space: nowrap;
    overflow: hidden;
    padding-left: 6px;
}

.listinfo {
    margin-top: 4px;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    position: relative;
    padding-left: 6px;
    margin-right: 6px;
    color: #888;
    font-size: 14px;
    display: inline-block;
    text-align: left;
}

.info_left {
    width: 230px;
    height: 100px;
    float: left;
}

.info_right {
    border-radius:7px;
}


.listpredict {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    font-weight: 700;
}

.gunmulyongdo {
    color: #ffaf00;
    margin-right: 4px;
    font-size: 16px;
    font-weight: bold;
    font-family : Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

.gunmullmyeong {
    color: #7c7366;
    margin-right: 4px;
    font-size: 16px;
    font-family :  "Apple Color Emoji", "Segoe UI Emoji";
}

.jachigu {
    margin-right: 4px;
    font-size: 16px;
    font-family : "Apple Color Emoji", "Segoe UI Emoji";
}

.bubjung {
    margin-right: 4px;
    font-size: 16px;
    font-family : "Apple Color Emoji", "Segoe UI Emoji";
}

.junwallse {
    color: #f54f1b;
    font-weight: bold;
    font-size: 16px;
    margin-right: 4px;
}

.price {

max-width: calc(100% - 44px);
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
font-size: 20px;
font-weight: 700;
}

.label.kb em{
    color: #ffaf00;
    font-style: normal;
}

.label.kb {
    background: #fff2d9;
    color: #7c7366;
}

.label {
    padding: 0 4px;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 18px;
    border: 1px solid #fff2d9;
    border-radius: 4px;
}

#mamul_img {
    width:100px;
    height:100px;
    border-radius:10px;
}

hr{
    size:10px;
}