#svg-area {
    position: relative;
  }

#tooltip {
    position: absolute;
    opacity: 0;
    width: 40px;
    height: 20px;
    line-height: 20px;
    transition: all 0.3s;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.btn-secondary{
    margin: 30px;
}

#facbtn{
    position: absolute;
    z-index: 3;
    right: 20px;
    bottom: 20px;
}

#show_facil{
    border-radius: 15px;
    background: white;
    border-color: royalblue;
    color: royalblue;
    font-weight: 700;
    height: 40px;
}

#hide_facil{
    border-radius: 15px;
    background: royalblue;
    border-color: royalblue;
    color: white;
    font-weight: 700;
    height: 40px;
}

.listname {
    /*width: calc(100% - 27px);
    display: flex;*/
    
    /* align-items: center; */
    padding-top: 15px;
    font-weight: 800;
    font-size: 14px;
    margin-right: 4px;
    padding-left: 6px;
}

.listprice {
    width: 100%;
    text-overflow: ellipsis; /*글자가 넓이를 넘을 경우 생략부호를 표시함*/
    white-space: nowrap;
    overflow: hidden;
    padding-left: 6px;
}

.listinfo {
    margin-top: 4px;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    position: relative;
    padding-left: 6px;
    margin-right: 6px;
    color: #888;
    font-size: 14px;
    display: inline-block;
    text-align: left;
}

.info_left {
    width: 230px;
    height: 100px;
    float: left;
}

.info_right {
    border-radius:7px;
}


.listpredict {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    font-weight: 700;
}

.gunmulyongdo {
    color: #ffaf00;
    margin-right: 4px;
    font-size: 16px;
    font-weight: bold;
    font-family : Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

.gunmullmyeong {
    color: #7c7366;
    margin-right: 4px;
    font-size: 16px;
    font-family :  "Apple Color Emoji", "Segoe UI Emoji";
}

.jachigu {
    margin-right: 4px;
    font-size: 16px;
    font-family : "Apple Color Emoji", "Segoe UI Emoji";
}

.bubjung {
    margin-right: 4px;
    font-size: 16px;
    font-family : "Apple Color Emoji", "Segoe UI Emoji";
}

.junwallse {
    color: #f54f1b;
    font-weight: bold;
    font-size: 16px;
    margin-right: 4px;
}

.junwallse1 {
    color: #3bb120;
    font-weight: bold;
    font-size: 16px;
    margin-right: 4px;
}

.predict_result {
    color: #ffaf00;
}

.price {

max-width: calc(100% - 44px);
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
font-size: 20px;
font-weight: 700;
}

.label.kb em{
    color: #ffaf00;
    font-style: normal;
}

.label.kb {
    background: #fff2d9;
    color: #7c7366;
}

.label {
    padding: 0 4px;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 18px;
    border: 1px solid #fff2d9;
    border-radius: 4px;
}

#mamul_img {
    width:100px;
    height:100px;
    border-radius:10px;
}

hr{
    size:10px;
}

.mamulHead {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    z-index: 9999;
    color: #444;
    background: transparent;
    padding-right: 5px;
}

#mamuldiv {
    display: none;
}

#hide_facil {
    display: none;
}

#reset_btn{
    border-radius: 8px !important;
    border: 1px solid rgb(121, 121, 121);
    margin: 6px;
    letter-spacing: -.5px;
    background: #ffffff;
    color: #fff;
    font-size: 16px;
    width: 70px;
    height: 30px;
}

#rank_dong {
    display: flex;
    justify-content: space-between;
    padding-right: 6px;
    font-weight: 700;
}

#first, #second, #third, #fourth, #fifth {
    border-radius: 8px !important;
    border: 1px solid rgb(121, 121, 121);
    margin: 6px;
    letter-spacing: -.5px;
    background: #ffffff;
    color:black;
    font-size: 15px;
    height: 30px;
    padding-left: 6px;
    padding-right: 6px;
    box-shadow: 2px 2px 2px rgb(81, 81, 81);
}