span{
    font-size: 16px;
}

.pageHead {
    width: 100%;
    height: 56px;
    display: inline;
    font-size: 14px;
    z-index: 9999;
    color: #444;
    background: transparent;
}

#pagehead {
    text-align: center;
    margin-top: 1.4rem;
}

.noti-wrap {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.myhomeCont {
    padding: 16px;
}

fieldset{
    margin-top: 20px;
    margin-left: 5px;
}
legend{
    text-align: center;
}
#submit{
    float: right;
    margin-right: 12px;
}

.form-group{
    display: flex;
    justify-content: space-around;
    margin-bottom:3%
}

.Check{
    display: flex;
    justify-content: space-around;
}

.custom-control-label::before, 
.custom-control-label::after {
    width: 1.7rem;
    height: 1.7rem;
}

#charter{
    display: none;
}
#monthly{
    display: none;
}

#regionchoice_val {
    margin-left: 20px;
}

.area {
    position: absolute;
    background: #fff;
    border: 1px solid #888;
    border-radius: 3px;
    font-size: 20px;
    top: -5px;
    left: 15px;
    padding: 2px;
}

.info {
    font-size: 12px;
    padding: 5px;
}
.info .title {
    font-weight: bold;
}

.map_wrap,
.map_wrap * {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
    color: #000;
    text-decoration: none;
}
.map_wrap {
    position: relative;
    width: 100%;
    height: 500px;
}

.bg_white {
    background: #fff;
}

.customoverlay{
    padding-left: 25px;
    position: relative;
    width: 95px;
    height: 30px;
    font-size: 5px;
    font-weight: bold;
    background-color: white;
    color: rgb(17, 135, 207);
    border: 1px solid rgb(17, 135, 207);
    border-radius: 35px;
    
}

.title{
    text-align: center;
    line-height: 30px;
    width: 29px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(17, 135, 207);
    color: white;
    border-radius: 50%;
    position: absolute;
}

/* 양방향 슬라이더 (매물조건_전월세) */
.ms {
    margin: 0;
    padding: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    position: relative;
    width: 85%;
    max-width: 500px;
}

.custom_slider, .custom_slider2 {
    position: relative;
    z-index: 1;
    height: 10px;
    margin: 0 15px;
}

.custom_slider > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #c6aee7;
}
.custom_slider2 > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #c6aee7;
}

.custom_slider > .range {
    position: absolute;
    z-index: 2;
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #6200ee;
}


.custom_slider2 > .range {
    position: absolute;
    z-index: 2;
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #6200ee;
}

.custom_slider > .thumb {
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    background-color: #6200ee;
    border-radius: 50%;
}

.custom_slider2 > .thumb {
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    background-color: #6200ee;
    border-radius: 50%;
}

.custom_slider > .thumb.left {
    left: 0%;
    transform: translate(-10px, -5px);
}
.custom_slider > .thumb.right {
    right: 0%;
    transform: translate(10px, -5px);
}

.custom_slider2 > .thumb.left {
    left: 0%;
    transform: translate(-10px, -5px);
}
.custom_slider2 > .thumb.right {
    right: 0%;
    transform: translate(10px, -5px);
}


#input-left, #input-right {
    position: absolute;
    /* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
    top: 40px;
}

#input-left::-webkit-slider-thumb, #input-right::-webkit-slider-thumb {
    /* 겹쳐진 두 thumb를 모두 활성화 */
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    cursor: pointer;
    /* appearance를 해야 위의 스타일들을 볼 수 있음 */
    -webkit-appearance: none;
}

#input-left2, #input-right2 {
    position: absolute;
    /* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
    top: 40px;
}

#input-left2::-webkit-slider-thumb, #input-right2::-webkit-slider-thumb {
    /* 겹쳐진 두 thumb를 모두 활성화 */
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    cursor: pointer;
    /* appearance를 해야 위의 스타일들을 볼 수 있음 */
    -webkit-appearance: none;
}

#mapimg{
    padding-left: 15%;
    width: 330px;
}

#reset{
    border-radius: 8px !important;
    border: 1px white;
    margin: 6px;
    letter-spacing: -.5px;
    background: #777777;
    color: #fff;
    font-size: 16px;
    width: 70px;
    height: 30px;
}

.btn_gu{
    height: 50px;
    min-width: calc((100% / 4 - 16px));
    max-width: calc((100% / 4 - 16px));
    border-radius: 8px !important;
    border: 1px white;
    margin: 6px;
    letter-spacing: -.5px;
    background: #f5f5f5;
    color: #444;
    font-size: 16px;
}
.btn_dong{
    height: 50px;
    min-width: calc((100% / 4 - 13px));
    max-width: calc((100% / 4 - 13px));
    border-radius: 8px !important;
    border: 1px white;
    margin: 6px;
    letter-spacing: -.5px;
    background: #f5f5f5;
    color: #444;
    font-size: 16px;
}
input[type=radio] {
    display:none;
}

#nextbutton{
    float: right;
    margin-right: 43px;
}

.form-group .slider_range{
    width: 85%;
}

/* Popover */
/* .popover {
border: 1px rgb(0, 0, 0);
} */
/* Popover Header */
.popover-title {
background-color: #73AD21; 
color: #FFFFFF; 
font-size: 28px;
text-align:center;
}
/* Popover Body */
.popover-content {
background-color: rgb(255, 255, 255);
color: black;
padding: 3px;
font-size: 13px;
}
/* Popover Arrow */
.arrow {
border-right-color: rgb(255, 255, 255) !important;
}