{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}" />
    <link rel="stylesheet" href="{% static 'css/facilities.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock css %}

{% block sidebar_mamul %}

{% endblock sidebar_mamul %}

{% block map %}
    <div id="map"></div>
{% endblock map %}

{% block mapscript %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock mapscript %}

{% block js %} 

{% endblock js %}
