{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}" />
    <link rel="stylesheet" href="{% static 'css/facilities.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock css %}

{% block facilities %}
    <div id='plot'>
        <canvas id="pie-chart"></canvas>
        <p></p>
        <div id='subplot_btn'>
            <h5>상세히 보고 싶은 분류를 선택하세요.</h5>
            <div id="btn1">
                <button id='btn_traffic'>교통</button>
                <button id='btn_treatment'>의료</button>
                <button id='btn_welfare'>생활복지시설</button>
                <button id='btn_facilities'>생활편의시설</button>
            </div>
            <p></p>
            <div id="btn1">
                <button id='btn_leisure'>여가</button>
                <button id='btn_shop'>쇼핑시설</button>
                <button id='btn_mart'>장보기시설</button>
                <button id='btn_restaurant'>음식점</button>
            </div>
        </div>
        <div id='bar_traffic'>
            <canvas id="bar-chart-horizontal traffic"></canvas>
        </div>
        <div id='bar_treatment'>
            <canvas id="bar-chart-horizontal treatment"></canvas>
        </div>
        <div id='bar_welfare'>
            <canvas id="bar-chart-horizontal welfare"></canvas>
        </div>
        <div id='bar_facilities'>
            <canvas id="bar-chart-horizontal facilities"></canvas>
        </div>
        <div id='bar_leisure'>
            <canvas id="bar-chart-horizontal leisure"></canvas>
        </div>
        <div id='bar_shop'>
            <canvas id="bar-chart-horizontal shop"></canvas>
        </div>
        <div id='bar_mart'>
            <canvas id="bar-chart-horizontal mart"></canvas>
        </div>
        <div id='bar_restaurant'>
            <canvas id="bar-chart-horizontal restaurant"></canvas>
        </div>
    </div>
{% endblock facilities %}

{% block sidebar_mamul %}

{% endblock sidebar_mamul %}

{% block map %}
    <div id="map"></div>
{% endblock map %}

{% block mapscript %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock mapscript %}

{% block js %} 
{% load static %}
    <script type="text/javascript" src="{% static 'js/facilitiesbar.js' %}"></script>
{% endblock js %}
