{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/map.css' %}" />
    <link rel="stylesheet" href="{% static 'css/facilities.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock css %}

{% block sidebar %}
    <fieldset>
        <legend>매물 조건을 선택하세요!</legend>
        <form action="#" id="frm">
            <div class=""></div>
            <div class="form-group" id="medical">
                <p>의료시설</p>
                <p></p>
                <input
                    type="range"
                    class="slider_range"
                    id="Range_medical"
                    value="0"
                    min="0"
                    max="3"
                    step="1"
                    list="tickmarks"
                />
                <datalist id="tickmarks">
                    <option value="0"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                </datalist>
                <p>Value: <span id="val_medical"></span></p>
                <script>
                    var result_medical = $("#val_medical");
                    var slider_medical = $("#Range_medical");
                    slider_medical.on("input", function () {
                        result_medical.html($(this).val());
                    });
                </script>
            </div>
            <div class="form-group" id="security">
                <p>치안시설</p>
                <p></p>
                <input
                    type="range"
                    class="slider_range"
                    id="Range_security"
                    value="0"
                    min="0"
                    max="3"
                    step="1"
                    list="tickmarks"
                />
                <datalist id="tickmarks">
                    <option value="0"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                </datalist>
                <p>Value: <span id="val_security"></span></p>
                <script>
                    var result_security = $("#val_security");
                    var slider_security = $("#Range_security");
                    slider_security.on("input", function () {
                        result_security.html($(this).val());
                    });
                </script>
            </div>
            <div class=""></div>
            <div class="form-group" id="shopping">
                <p>쇼핑시설</p>
                <p></p>
                <input
                    type="range"
                    class="slider_range"
                    id="Range_shopping"
                    value="0"
                    min="0"
                    max="3"
                    step="1"
                    list="tickmarks"
                />
                <datalist id="tickmarks">
                    <option value="0"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                </datalist>
                <p>Value: <span id="val_shopping"></span></p>
                <script>
                    var result_shopping = $("#val_shopping");
                    var slider_shopping = $("#Range_shopping");
                    slider_shopping.on("input", function () {
                        result_shopping.html($(this).val());
                    });
                </script>
            </div>
            <div class="form-group" id="market">
                <p>장보기시설</p>
                <p></p>
                <input
                    type="range"
                    class="slider_range"
                    id="Range_market"
                    value="0"
                    min="0"
                    max="3"
                    step="1"
                    list="tickmarks"
                />
                <datalist id="tickmarks">
                    <option value="0"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                </datalist>
                <p>Value: <span id="val_market"></span></p>
                <script>
                    var result_market = $("#val_market");
                    var slider_market = $("#Range_market");
                    slider_market.on("input", function () {
                        result_market.html($(this).val());
                    });
                </script>
            </div>
            <div class=""></div>
            <div class="form-group" id="convenient">
                <p>생활편의시설</p>
                <p></p>
                <input
                    type="range"
                    class="slider_range"
                    id="Range_convenient"
                    value="0"
                    min="0"
                    max="3"
                    step="1"
                    list="tickmarks"
                />
                <datalist id="tickmarks">
                    <option value="0"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                </datalist>
                <p>Value: <span id="val_convenient"></span></p>
                <script>
                    var result_convenient = $("#val_convenient");
                    var slider_convenient = $("#Range_convenient");
                    slider_convenient.on("input", function () {
                        result_convenient.html($(this).val());
                    });
                </script>
            </div>
            <div class="form-group" id="leisure">
                <p>여가시설</p>
                <p></p>
                <input
                    type="range"
                    class="slider_range"
                    id="Range_leisure"
                    value="0"
                    min="0"
                    max="3"
                    step="1"
                    list="tickmarks"
                />
                <datalist id="tickmarks">
                    <option value="0"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                </datalist>
                <p>Value: <span id="val_leisure"></span></p>
                <script>
                    var result_leisure = $("#val_leisure");
                    var slider_leisure = $("#Range_leisure");
                    slider_leisure.on("input", function () {
                        result_leisure.html($(this).val());
                    });
                </script>
            </div>
            <div class=""></div>
            <div class="form-group" id="traffic">
                <p>교통시설</p>
                <p></p>
                <input
                    type="range"
                    class="slider_range"
                    id="Range_traffic"
                    value="0"
                    min="0"
                    max="3"
                    step="1"
                    list="tickmarks"
                />
                <datalist id="tickmarks">
                    <option value="0"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                </datalist>
                <p>Value: <span id="val_traffic"></span></p>
                <script>
                    var result_traffic = $("#val_traffic");
                    var slider_traffic = $("#Range_traffic");
                    slider_traffic.on("input", function () {
                        result_traffic.html($(this).val());
                    });
                </script>
            </div>
            <div class="form-group" id="oil">
                <p>석유판매업</p>
                <p></p>
                <input
                    type="range"
                    class="slider_range"
                    id="Range_oil"
                    value="0"
                    min="0"
                    max="3"
                    step="1"
                    list="tickmarks"
                />
                <datalist id="tickmarks">
                    <option value="0"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                </datalist>
                <p>Value: <span id="val_oil"></span></p>
                <script>
                    var result_oil = $("#val_oil");
                    var slider_oil = $("#Range_oil");
                    slider_oil.on("input", function () {
                        result_oil.html($(this).val());
                    });
                </script>
            </div>
            <div class=""></div>
            <div class="form-group" id="park">
                <p>공원</p>
                <p></p>
                <input
                    type="range"
                    class="slider_range"
                    id="Range_park"
                    value="0"
                    min="0"
                    max="3"
                    step="1"
                    list="tickmarks"
                />
                <datalist id="tickmarks">
                    <option value="0"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                </datalist>
                <p>Value: <span id="val_park"></span></p>
                <script>
                    var result_park = $("#val_park");
                    var slider_park = $("#Range_park");
                    slider_park.on("input", function () {
                        result_park.html($(this).val());
                    });
                </script>
            </div>
            <div class=""></div>
            <div class="form-group" id="restaurant">
                <p>음식점</p>
                <p></p>
                <input
                    type="range"
                    class="slider_range"
                    id="Range_restaurant"
                    value="0"
                    min="0"
                    max="3"
                    step="1"
                    list="tickmarks"
                />
                <datalist id="tickmarks">
                    <option value="0"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                </datalist>
                <p>Value: <span id="val_restaurant"></span></p>
                <script>
                    var result_restaurant = $("#val_restaurant");
                    var slider_restaurant = $("#Range_restaurant");
                    slider_restaurant.on("input", function () {
                        result_restaurant.html($(this).val());
                    });
                </script>
            </div>
            <!-- 매물 조건 -->

            <p style="white-space: nowrap">
                희망하는 매물의 조건과 가격을 고르세요!
            </p>
            <div class="Check">
                <div class="custom-control custom-checkbox mb-3">
                    <input
                        type="checkbox"
                        class="custom-control-input"
                        id="charterCheck"
                    />
                    <label class="custom-control-label" for="charterCheck"
                        >전세</label
                    >
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input
                        type="checkbox"
                        class="custom-control-input"
                        id="monthlyCheck"
                    />
                    <label class="custom-control-label" for="monthlyCheck"
                        >월세</label
                    >
                </div>
            </div>
            <div class="form-group" id="charter">
                <span>보증금/전세가</span>
                <select
                    class="custom-select custom-select-sm mb-3"
                    id="charter_select"
                >
                    <option selected>금액을 선택하세요</option>
                    <option value="1000">1000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                </select>
            </div>
            <div class="form-group" id="monthly">
                <span>월세</span>
                <select
                    class="custom-select custom-select-sm mb-3"
                    id="monthly_select"
                >
                    <option selected>금액을 선택하세요</option>
                    <option value="1000">1000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                </select>
            </div>
            <div class="form-group">
                <label for="usr">직장의 위치..?</label>
                <input type="text" class="form-control" id="usr" />
            </div>
            <button type="submit" class="btn btn-primary" id="submit">
                Submit
            </button>
            <br /><br /><br /><br /><br />
        </form>
    </fieldset>
{% endblock sidebar %}

{% block facilities %}
    <div id='plot'>
        <canvas id="pie-chart"></canvas>
        <p></p>
        <div id='subplot_btn'>
            <h5>상세히 보고 싶은 분류를 선택하세요.</h5>
            <div id="btn1">
                <button id='btn_traffic'>교통</button>
                <button id='btn_treatment'>의료</button>
                <button id='btn_welfare'>생활복지시설</button>
                <button id='btn_facilities'>생활편의시설</button>
            </div>
            <p></p>
            <div id="btn1">
                <button id='btn_leisure'>여가</button>
                <button id='btn_shop'>쇼핑시설</button>
                <button id='btn_mart'>장보기시설</button>
                <button id='btn_restaurant'>음식점</button>
            </div>
        </div>
        <div id='bar_traffic'>
            <canvas id="bar-chart-horizontal traffic"></canvas>
        </div>
        <div id='bar_treatment'>
            <canvas id="bar-chart-horizontal treatment"></canvas>
        </div>
        <div id='bar_welfare'>
            <canvas id="bar-chart-horizontal welfare"></canvas>
        </div>
        <div id='bar_facilities'>
            <canvas id="bar-chart-horizontal facilities"></canvas>
        </div>
        <div id='bar_leisure'>
            <canvas id="bar-chart-horizontal leisure"></canvas>
        </div>
        <div id='bar_shop'>
            <canvas id="bar-chart-horizontal shop"></canvas>
        </div>
        <div id='bar_mart'>
            <canvas id="bar-chart-horizontal mart"></canvas>
        </div>
        <div id='bar_restaurant'>
            <canvas id="bar-chart-horizontal restaurant"></canvas>
        </div>
    </div>
{% endblock facilities %}
{% block sidebar_mamul %}

{% endblock sidebar_mamul %}

{% block map %}
    <div id="map"></div>
{% endblock map %} 
{% block mapscript %}
    <script>
        var mapContainer = document.getElementById("map"), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                level: 9, // 지도의 확대 레벨
            };

        home();

        function home() {
            $("#sidebar").hide();
            $("#facilities").hide();
            var map = new kakao.maps.Map(mapContainer, mapOption),
                customOverlay = new kakao.maps.CustomOverlay({}),
                infowindow = new kakao.maps.InfoWindow({ removable: true });
            var x_positions = [];
            var y_positions = [];
            var dong_names = [];
            var sum = [];

            $.getJSON("{% static 'json/real.geojson' %}", function (geojson) {
                var data = geojson.features;
                var coordinates = []; //좌표 저장할 배열
                var name = ""; //구 이름 저장

                $.each(data, function (index, val) {
                    coordinates = val.geometry.coordinates;
                    name = val.properties.SIG_KOR_NM;
                    displayArea(coordinates, name);
                });
            });

            var polygons = []; //클릭시 폴리곤 없앨때 사용 예정

            function displayArea(coordinates, name) {
                var path = []; //폴리곤 그려줄 path
                var points = []; //중심좌표 구하기 위한 지역구 좌표들

                $.each(coordinates[0], function (index, coordinate) {
                    var point = new Object();
                    point.x = coordinate[1];
                    point.y = coordinate[0];
                    points.push(point);
                    path.push(new kakao.maps.LatLng(coordinate[1], coordinate[0])); //json에 좌표순서가 반대로 되있어서 요래 해줌.
                });

                //다각형 생성
                var polygon = new kakao.maps.Polygon({
                    map: map, //다각형 표시할 지도 객체
                    path: path,
                    strokeWeight: 2,
                    strokeColor: "#004c80",
                    strokeOpacity: 0.8,
                    fillColor: "#fff",
                    fillOpacity: 0.7,
                });
                polygons.push(polygon); //나중에 특정 구 누르면 확대 될때 폴리곤 없애야해서 만들어줬음

                //다각형에 mouseover 이벤트 등록, 발생시 색 변경
                // 지역명 표시하는 커스텀오버레이 표시

                kakao.maps.event.addListener(
                    polygon,
                    "mouseover",
                    function (mouseEvent) {
                        polygon.setOptions({ fillColor: "#09f" });

                        customOverlay.setContent(
                            '<div class="area">' + name + "</div>"
                        );

                        customOverlay.setPosition(mouseEvent.latLng);
                        customOverlay.setMap(map);
                    }
                );
                // 다각형에 mousemove 이벤트를 등록하고 이벤트가 발생하면 커스텀 오버레이의 위치를 변경합니다
                kakao.maps.event.addListener(
                    polygon,
                    "mousemove",
                    function (mouseEvent) {
                        customOverlay.setPosition(mouseEvent.latLng);
                    }
                );

                // 다각형에 mouseout 이벤트를 등록하고 이벤트가 발생하면 폴리곤의 채움색을 원래색으로 변경합니다
                // 커스텀 오버레이를 지도에서 제거합니다
                kakao.maps.event.addListener(polygon, "mouseout", function () {
                    polygon.setOptions({ fillColor: "#fff" });
                    customOverlay.setMap(null);
                });

                //다각형에 click이벤트를 등록하고 이벤트가 발생하면 해당 지역을 확대.
                kakao.maps.event.addListener(polygon, "click", function () {
                    deletepolygon(polygons); //해당지역 확대 후 폴리곤 제거
                    customOverlay.setContent(
                        '<div class="area" style="display:none;">' + name + "</div>"
                    );
                    //3레벨 확대
                    var level = map.getLevel() - 2;
                    var a, b;
                    $.getJSON(
                        "{% static 'json/구별 중심좌표.json' %}",
                        function (json) {
                            var data = json;
                            $.each(data, function (index, item) {
                                if (item.자치구명 == name) {
                                    a = item.X;
                                    b = item.Y;
                                }
                            }); //each
                            map.setLevel(level, {
                                anchor: new kakao.maps.LatLng(a, b),
                                animate: {
                                    duration: 500,
                                },
                            });
                        }
                    );

                    $.getJSON(
                        "{% static 'json/동시각화 전용.json' %}",
                        function (json) {
                            var data = json;

                            $.each(data, function (index, item) {
                                if (item.자치구명 == name) {
                                    var dong = item.법정동명;
                                    var X = item.position_x;
                                    var Y = item.position_y;
                                    var s = item.합계;
                                    x_positions.push(X);
                                    y_positions.push(Y);
                                    dong_names.push(dong);
                                    sum.push(s);
                                }
                            }); //법정동 마커 찍기위해 좌표,법정동이름,합계 저장하기
                            var imageSrc =
                                "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png'";
                            var imageSize = new kakao.maps.Size(34, 35);
                            var imageOption = {
                                offset: new kakao.maps.Point(17, 36),
                            };
                            var markerImage = new kakao.maps.MarkerImage(
                                imageSrc,
                                imageSize,
                                imageOption
                            );

                            var markerTmp; // 마커
                            var customOverlay; // 오버레이
                            var contentStr;

                            for (var i = 0; i < y_positions.length; i++) {
                                contentStr =
                                    "<button class='customoverlay' val='" +
                                    dong_names[i] +
                                    "'><div class='title'>" +
                                    sum[i] +
                                    "</div><div class = 'dong_' val='" +
                                    dong_names[i] +
                                    "'>" +
                                    dong_names[i] +
                                    "</div></button>";
                                customOverlay = new kakao.maps.CustomOverlay({
                                    map: map,
                                    position: new kakao.maps.LatLng(
                                        x_positions[i],
                                        y_positions[i]
                                    ),
                                    content: contentStr,
                                    yAnchor: 1,
                                });
                            } //for문facilities_click_change
                            $(".customoverlay").click(function () {
                                facilities_click_change($(this).attr("val"));
                            });
                        }
                    ); //동시각화 전용 getjson
                });
            }

            function deletepolygon(polygons) {
                for (var i = 0; i < polygons.length; i++) {
                    polygons[i].setMap(null);
                }
                polygons = [];
            }
            var zoomControl = new kakao.maps.ZoomControl();
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

            // 지도가 확대 또는 축소되면 마지막 파라미터로 넘어온 함수를 호출하도록 이벤트를 등록합니다
            kakao.maps.event.addListener(map, "zoom_changed", function () {
                // 지도의 현재 레벨을 얻어옵니다
                var level = map.getLevel();
            });
        }
    </script>
{% endblock mapscript %}

{% block js %} 
{% load static %}
    <script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/facilitiesbar.js' %}"></script>
{% endblock js %}
