{% extends 'base.html' %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/map.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/mamul.css' %}"/>
{% endblock css %}

{% block body %}
<div id='mambtn'>
	<button id="show_mamul">매물 보이기</button>
    <button id="hide_mamul">매물 숨기기</button>
</div>
{% endblock body %}



{% block sidebar_mamul %}
	<div class = "pageHead">
		<div>
			<button
				type="button"
				class="btn btn-pageback"
				id="mamulbarClose"
				style= 'float: left'
			>
			<span style = 'font-size: 25px;'>〈</span>
			</button>
		</div>
	</div>
	<div id="pagehead">
		<h4 style="margin-right: 8%;"> 매물을 클릭하여 확인하세요!</h4>
	</div>
    <hr>
	<div id="mamuldiv"></div>
	<div>

	</div>
{% endblock sidebar_mamul %}

{% block map %}
	<div id="map"></div>
{% endblock map %}

{% block mapscript %}
	{% load static %}
	<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/mamul.js' %}"></script>
{% endblock mapscript %}

{% block js %}
	<script>
		$('#sidebar').show()
	</script>
{% endblock js %}
