{% extends 'base.html' %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/map.css' %}"/>
{% endblock css %}

{% block body %}
<div id='mambtn'>
	<button id="show_mamul">전체매물</button>
    <button id="hide_mamul">전체매물</button>
</div>
{% endblock body %}

{% block sidebar_mamul %}{% endblock sidebar_mamul %}

{% block map %}
	<div id="map"></div>
{% endblock map %}

{% block mapscript %}
	{% load static %}
	<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock mapscript %}

{% block js %}{% endblock js %}
