<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=219025cfba1979327f3c84484d93245a"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    <script>
      var temp = [];
      var company = '';
      var show = '';

      function make_dong_btn(gu) {
        $.ajax({
          type: 'get',
          url: '/estates/getdong?jachigu=' + gu,
          dateType: 'json',
          success: function (jsonData) {
            // alert(jsonData.facil.subway)
            $.each(jsonData, function (index, item) {
              for (i = 0; i < item.length; i++) {
                temp.push(item[i].bubjung);
              } //for
              for (i = 0; i < temp.length; i++) {
                content = "<button class='btn_dong' value='" + temp[i] + "'><input type='radio' name='options' id='option" + (
                i + 1) + "'>" + temp[i] + "</button>";
                $('#btn-dongbox').append(content);
              }
              temp = [];
            }); //each
          }
        });
      }

      $(function () {
        $('.btn_gu').click(function () {
          company += $(this).val();
          $('#btn-gubox').hide();
          $('#btn-dongbox').empty();
          $('#btn-dongbox').show();
          show = $(this).val() + " > "
          $('#showregion').append(show);
          make_dong_btn($(this).val());
        })
        $('#btn-dongbox').on('click', '.btn_dong', function () {

          company += $(this).val();
          show = $(this).val()
          $('#showregion').append(show);
        })
        $('#reset').click(function () {
          $('#btn-gubox').show();
          $('#btn-dongbox').hide();
          $('#showregion').empty();
          company = '';
        })
      })
    </script>
    <title>Document</title>
  </head>

  <body>
    <div class='regionchoice'>
      <legend class='leg' style="{padding: 18px;}">직장의 위치를 구/동 단위까지 골라주세요!</legend>
      <span>선택한 지역:</span>
      <span id='showregion'></span>
      <button id='reset'>초기화</button>
      <div id="btn-gubox">
        <button class="btn_gu" value='강남구'>
          <input type='radio' name='options' id='option1'>
          강남구
        </button>
        <button class="btn_gu" value='강동구'>
          <input type='radio' name='options' id='option2'>
          강동구
        </button>
        <button class="btn_gu" value='강북구'>
          <input type='radio' name='options' id='option3'>
          강북구
        </button>
        <button class="btn_gu" value='강서구'>
          <input type='radio' name='options' id='option4'>
          강서구
        </button>
        <button class="btn_gu" value='관악구'>
          <input type='radio' name='options' id='option5'>
          관악구
        </button>
        <button class="btn_gu" value='광진구'>
          <input type='radio' name='options' id='option6'>
          광진구
        </button>
        <button class="btn_gu" value='구로구'>
          <input type='radio' name='options' id='option7'>
          구로구
        </button>
        <button class="btn_gu" value='금천구'>
          <input type='radio' name='options' id='option8'>
          금천구
        </button>
        <button class="btn_gu" value='노원구'>
          <input type='radio' name='options' id='option9'>
          노원구
        </button>
        <button class="btn_gu" value='도봉구'>
          <input type='radio' name='options' id='option10'>
          도봉구
        </button>
        <button class="btn_gu" value='동대문구'>
          <input type='radio' name='options' id='option11'>
          동대문구
        </button>
        <button class="btn_gu" value='동작구'>
          <input type='radio' name='options' id='option12'>
          동작구
        </button>
        <button class="btn_gu" value='마포구'>
          <input type='radio' name='options' id='option13'>
          마포구
        </button>
        <button class="btn_gu" value='서대문구'>
          <input type='radio' name='options' id='option14'>
          서대문구
        </button>
        <button class="btn_gu" value='서초구'>
          <input type='radio' name='options' id='option15'>
          서초구
        </button>
        <button class="btn_gu" value='성동구'>
          <input type='radio' name='options' id='option16'>
          성동구
        </button>
        <button class="btn_gu" value='성북구'>
          <input type='radio' name='options' id='option17'>
          성북구
        </button>
        <button class="btn_gu" value='송파구'>
          <input type='radio' name='options' id='option18'>
          송파구
        </button>
        <button class="btn_gu" value='양천구'>
          <input type='radio' name='options' id='option19'>
          양천구
        </button>
        <button class="btn_gu" value='영등포구'>
          <input type='radio' name='options' id='option20'>
          영등포구
        </button>
        <button class="btn_gu" value='용산구'>
          <input type='radio' name='options' id='option21'>
          용산구
        </button>
        <button class="btn_gu" value='은평구'>
          <input type='radio' name='options' id='option22'>
          은평구
        </button>
        <button class="btn_gu" value='종로구'>
          <input type='radio' name='options' id='option23'>
          종로구
        </button>
        <button class="btn_gu" value='중구'>
          <input type='radio' name='options' id='option24'>
          중구
        </button>
        <button class="btn_gu" value='중랑구'>
          <input type='radio' name='options' id='option25'>
          중랑구
        </button>
      </div>
      <div id="btn-dongbox"></div>
      <div class='result'></div>
    </div>

  </div>
</body>

</html>