{% extends 'base.html' %}

{% block css %}
    {% load static %}
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'css/mamul.css' %}" />
    <link rel="stylesheet" href="{% static 'css/map.css' %}" />
    <script type="text/javascript" src="{% static 'js/mamul.js' %}"></script>
{% endblock css %}

{% block body %}
    <div id='facbtn'>
        <button id="show_facil" onclick='showMarkers()'>편의시설</button>
        <button id="hide_facil" onclick='hideMarkers()'>편의시설</button>
    </div>
{% endblock body %}

{% block sidebar_mamul %}
    <div id="pagehead">
        <h4> AI가 뽑은 당신을 위한 추천 지역</h4>
    </div>
    <div class = "mamulHead">
        <div>
            <li style="padding-left: 20px; font-size: 16px"> 자세히 보고싶은 지역을 클릭하세요 </li>
        </div>
        <div >
            <button type="button" onclick="return_list()" id='reset_btn'>
            <img src="{% static 'img/reset.png' %}" width="20px" height="20px" alt="">
            </button>
        </div>
    </div>
    <div id="rank_dong">
        <button type="button" id="first" onclick="first_click()" value=""></button>
        <button type="button" id="second" onclick="second_click()" value=""></button>
        <button type="button" id="third" onclick="third_click()" value=""></button>
        <button type="button" id="fourth" onclick="fourth_click()" value=""></button>
        <button type="button" id="fifth" onclick="fifth_click()" value=""></button>
    </div>
    <span style='font-size: 13px; float: right; padding-right: 12px'>※ 해당 지역에 매물이 없는 경우도 있습니다! </span>
    <hr>
    <div id="mamuldiv"></div>
    <div>

    </div>
{% endblock sidebar_mamul %}

{% block map %}
    <div id='map'></div>
{% endblock map %}

{% block mapscript %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/mamul_map.js' %}"></script>
{% endblock mapscript %}

{% block js %}

{% endblock js %}