<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>KB IT's your Life</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
        />
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=219025cfba1979327f3c84484d93245a&libraries=clusterer"
        ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
        <script>
            
            function facilities_click() {
                if ($("#facilities").css("display") == "none") {
                    if ($("#sidebar").css("display") != "none") {
                        $("#sidebar").hide();
                    }
                    $("#facilities").show();
                } else {
                    $("#facilities").hide();
                }
            }
            function facilities_click_change(facilities_detail) {
                $("#facilities").show();
                $("#facilities").html(facilities_detail.innerText);
            }
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-lg-3 bd-sidebar">
                    <ul class="nav">
                        <div class="bodyline">
                            <a href="{% url 'estates:index' %}">
                            <button
                                type="button"
                                class="btn btn-nav home"
                                id="home"
                            >
                                <img src="{% static 'img/icon_32_home_nor.svg' %}" alt="" />
                                <p>홈</p>
                            </button>
                            </a>
                            
                            <button
                                type="button"
                                class="btn btn-nav menu"
                                id="facilitiesToggle"
                                onclick="facilities_click()"
                            >
                                <img
                                    src="{% static 'img/icon_menu.png' %}"
                                    width="32px"
                                    height="32px"
                                    alt=""
                                />
                                <p>매물보기</p>
                            </button>
                        </div>
                        <button
                            type="button"
                            class="btn btn-nav home"
                            id="kbicon"
                        >
                            <a href="http://www.kbland.kr" target="_blank">
                                <img
                                    src="{% static "img/kbland.png" %}"
                                    alt=""
                                    width="32px"
                                    height="32px"
                                />
                            </a>
                        </button>
                    </ul>
                    <br />
                </div>
                
                <!-- sidebar -->
                <div id="facilities"></div>
                <main class="col-lg-9 bd-content nopadding" role="main">
                    <div id="map"></div>
                    <script>
                        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                            mapOption = {
                                center: new kakao.maps.LatLng(37.55811, 126.97406), // 지도의 중심좌표
                                level: 5, // 지도의 확대 레벨
                                mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
                            }; 
                        var x_positions = [];
                        var y_positions = [];
                        var map = new kakao.maps.Map(mapContainer, mapOption); 
                        // 마커 클러스터러를 생성합니다 
                        var markers = [];
                        var clusterer = new kakao.maps.MarkerClusterer({
                                map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
                                averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
                                minLevel: 1, // 클러스터 할 최소 지도 레벨
                                disableClickZoom: true // 클러스터 마커를 클릭했을 때 지도가 확대되지 않도록 설정한다
                            });// 클러스터
                        
                        // 데이터를 가져오기 위해 jQuery를 사용합니다
                    // 데이터를 가져와 마커를 생성하고 클러스터러 객체에 넘겨줍니다
                    $.getJSON("{% static 'json/최종매물데이터.json' %}",function(data){
                        $.each(data, function(index, item){
                            var no = index+1;
                            var X = item.X;
                            var Y = item.Y;
                            
                            //var addr = item.addr;
                            
                            // 마커 하나를 지도위에 표시합니다 
                            x_positions.push(X)
                            y_positions.push(Y)
                            //alert(y_positions)
                        });//each
                        //alert(x_positions)
                        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
                        for (var i = 0; i < y_positions.length; i ++) {
                                
                                // 마커 이미지의 이미지 크기 입니다
                            var imageSize = new kakao.maps.Size(24, 35); 
                                
                                // 마커 이미지를 생성합니다    
                            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
                                
                                // 마커를 생성합니다
                            var marker = new kakao.maps.Marker({
                                position: new kakao.maps.LatLng(x_positions[i], y_positions[i]), // 마커를 표시할 위치
                                    //title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                                    //image : markerImage, // 마커 이미지 
                            
                            });//마커 
                            markers.push(marker);
                            
                        }//for문
                        clusterer.addMarkers(markers);
                        // 클러스터러에 마커들을 추가합니다
                        //clusterer.addMarkers(marker);
                    });
                // 마커 이미지의 이미지 주소입니다
                // 마커 클러스터러에 클릭이벤트를 등록합니다
                    // 마커 클러스터러를 생성할 때 disableClickZoom을 true로 설정하지 않은 경우
                    // 이벤트 헨들러로 cluster 객체가 넘어오지 않을 수도 있습니다
                kakao.maps.event.addListener(clusterer, 'clusterclick', function(cluster) {

                        // 현재 지도 레벨에서 1레벨 확대한 레벨
                        var level = map.getLevel()-1;

                        // 지도를 클릭된 클러스터의 마커의 위치를 기준으로 확대합니다
                        map.setLevel(level, {anchor: cluster.getCenter()});

                        facilities_click()
                        // console.log(marker)
                });

                /*new kakao.maps.LatLng(x_positions[0], y_positions[0])*/
                /*var marker = new kakao.maps.Marker({
                    map: map,
                    position: new kakao.maps.LatLng(37.55811, 126.97406),
                //	image : markerImage
                });*/



                </script>
                </main>
            </div>
        </div>
    </body>
</html>
