{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mamul.css' %}" />
    <link rel="stylesheet" href="{% static 'css/map.css' %}" />
    <script type="text/javascript" src="{% static 'js/mamul.js' %}"></script>
{% endblock css %}

{% block body %}
    <div id='facbtn'>
        <button onclick='showMarkers()'>편의시설 보기</button>
        <button onclick='hideMarkers()'>편의시설 숨기기</button>
    </div>
{% endblock body %}

{% block sidebar_mamul %}

{% endblock sidebar_mamul %}

{% block map %}
    <div id='map'></div>
{% endblock map %}

{% block mapscript %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/mamul_map.js' %}"></script>
{% endblock mapscript %}

{% block js %}

{% endblock js %}